.subscribe-block {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: rgba($secondary-color, 0.2);
  //background-size: 872px 640px;
  //background-size: cover;
  background-size: auto 195%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/musical-symbols-dt.svg);

  @media (min-width: $screen-md) {
    background-size: auto 222%;
  }

  @media (min-width: $screen-xl) {
    padding-top: 120px;
    padding-bottom: 180px;
    background-size: auto 265%;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: $screen-md - 1) {
      font-size: 32px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 60px;
    }

    span {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  &__form-col {
    @include col(xs, 12);
    @include col-offset(md, 2);
    @include col(md, 8);
    @include col-offset(xl, 3);
    @include col(xl, 6);
  }

  &__form-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & > * {
      flex: 1 1;
      flex-basis: 100%;

      &:first-child {
        margin-bottom: 0;

        @media (min-width: $screen-md) {
          flex-basis: auto;
        }
      }

      &:last-child {
        margin-top: 20px;

        @media (min-width: $screen-md) {
          flex: 0 0;
          flex-basis: 155px;
          margin-top: 0;
          margin-left: 24px;
        }
      }
    }
  }
}
