.main-nav {

  $block-name:                &; // #{$block-name}__element


  @media (max-width: $menu-desktop-width - 1) {
    display: none;
  }

  @media (min-width: $screen-xl) {
    margin-right: auto;
    margin-left: 100px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    & + & {
      margin-left: 16px;
    }

    &.active {

      & > #{$block-name}__link {
        color: $link-color;
      }
    }
  }

  &__link {
    display: block;
    padding: 5px 12px;
    font-size: $font-size;
    text-decoration: none;
    color: $text-color;
    background-color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $link-color;
    }
  }
}
