table,
.table {

  $block-name:                &; // #{$block-name}__element

  border-collapse: collapse;
  width: 100%;
  border: 1px solid $border-color;
  margin: 24px 0;

  caption {
    padding-bottom: 0.5em;
    text-align: initial;
    caption-side: top;
    font-size: $font-size--sm;
    line-height: 1em;
    color: $text-muted;
  }

  td,
  th {
    padding: 0.5em 1em;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    font-weight: 500;
    //text-align: left;
  }
}
