// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff'),
//        url('../fonts/FONTNAME.ttf')  format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

// Не забыть !!!   font-display: swap;




body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  word-break: break-word;
  text-align: left;
  text-decoration-skip-ink: auto;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // text-rendering: optimizeLegibility;
  // Partial support in Android browser versions is due to a serious bug where text-rendering: optimizeLegibility causes custom web fonts to not render!!!
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 600;
  line-height: 1.2;
  color: currentColor;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {

  &:first-child {
    margin-top: 0;
  }
}

.h1,
h1 {
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $screen-xl) {
    margin-bottom: 60px;
  }
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
  margin-top: 60px;
  margin-bottom: 24px;
}

.h5,
.h6,
h5,
h6 {
  margin-top: 60px;
  margin-bottom: 12px;
}

.h1,
h1 {
  font-size: $font-size--h1;
}

.h2,
h2 {
  font-size: $font-size--h2;
}

.h3,
h3 {
  font-size: $font-size--h3;
}

.h4,
h4 {
  font-size: $font-size--h4;
}

.h5,
h5 {
  font-size: $font-size--h5;
}

.h6,
h6 {
  font-size: $font-size--h6;
}

.display-1,
.display-2,
.display-3 {
  display: block;
}

.display-1 {
  font-size: $font-display-1;
}

.display-2 {
  font-size: $font-display-2;
}

.display-3 {
  font-size: $font-display-3;
}

.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: 24px;
  margin-bottom: 24px;
  color: currentColor;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.3em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 4px !important;
  margin-bottom: 0;
}

ul {
  list-style-image: url("../img/check-round.svg");
}

ul,
ol {

  li::marker {
    color: $main-color;
  }
}

li {
  line-height: inherit;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid $border-color;
}

.small,
small {
  font-size: $font-size--sm;
}

sub,
sup {
  font-size: 70%;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  position: relative;
  padding-left: 55px;
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
  font-weight: 600;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 20px;
    background-size: 28px 20px;
    background-position: center;
    background-image: svg-load('../blocks/sprite-svg/svg/quotes.svg', fill=$main-color);
  }
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @media (min-width: $screen-sm) {
    margin-left: 1.5rem;
  }

  & + dt {
    margin-top: 0.5em;
  }
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-100;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

// Вложенные упорядоченные списки: 1, 2, 3, 3.1 -> 3.1.1, 3.1.2…
/* ol {
  list-style: none;
  counter-reset: something;
  padding-left: 32px;

  li {
    counter-increment: something;

    &::before {
      content: counters(something, ".") ". ";
    }
  }
} */

a {
  text-decoration-skip-ink: inherit;
}

// Отключение излишних ссылок при помощи аттрибутов  aria-hidden="true" tabindex="-1"
