.contacts-form {

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-bottom: 40px;

    span {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
    }
  }

  &__form-col,
  &__agreement-col {
    @include col(xs, 12);
    @include col(md, 6);
  }

  &__agreement-col {

    &:first-child {

      @media (max-width: $screen-md - 1) {
        margin-bottom: 40px;
      }
    }
  }
}
