.page-header {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    @media (min-width: $screen-md) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
