.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 17px 32px;
  vertical-align: middle;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.5px;
  color: $white;
  border-radius: $border-radius--16;
  border: 1px solid $link-color;
  background-color: $link-color;
  cursor: pointer;
  user-select: none;
  transition: all $transition-time;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $white;
    background-color: $link-color--hover;
    border-color: $link-color--hover;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    color: $link-color;
    background-color: #fbd7dd;
    border-color: #fbd7dd;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--sm {
    padding: 13px 16px;
    font-size: 14px;
  }

  &--outline {
    color: $link-color;
    background-color: $white;
    border-color: $link-color;

    &--disabled,
    &:disabled {
      opacity: 0.5;

      @at-root a.btn--outline--disabled {
        pointer-events: none;
      }
    }
  }

  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
