.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  $block-name:                &; // #{$block-name}__element

  &__title {
    width: 100%;
    text-transform: uppercase;
  }

  &__list {
    display: inline-flex;
    align-items: center;
  }

  &__item {

    & + & {
      margin-left: 24px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: $text-muted;
  }

  &--mob-menu {
    justify-content: center;
    margin-top: 40px;
  }

  &--footer {
    margin-top: 40px;

    @media (max-width: $screen-md - 1) {
      justify-content: center;
    }

    @media (min-width: $screen-xl) {
      justify-content: flex-end;
      margin-top: 0;
    }
  }
}
