.lang-switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  $block-name:                &; // #{$block-name}__element

  &__btn {
    display: inline-flex;
    align-items: center;
    padding: 8.5px 12px;
    font-family: $font-family;
    font-size: $font-size-sm;
    font-weight: inherit;
    text-transform: uppercase;
    color: $text-muted;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $link-color;
    }

    &::after {
      width: 16px;
      height: 16px;
      margin-left: 12px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
      background-image: svg-load('../blocks/sprite-svg/svg/down-chevron.svg', fill=$text-color);
    }

    &.show {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__menu {
    min-width: 100%;

    li + li {
      margin-top: 8px;
    }

    li.active {

      #{$block-name}__item {
        color: $link-color;
      }
    }

    &.show {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top-width: 0;
    }
  }

  &__item {
    padding: 4px 12px;
    font-size: 16px;

    &:hover,
    &:focus {
      color: $link-color;
      background-color: $white;
    }
  }

  &--main {

    @media (max-width: $screen-md - 1) {
      margin-right: 40px;
      margin-left: auto;
    }
  }
}
