.event-page {
  margin-bottom: 80px;

  @media (min-width: $screen-md) {
    margin-bottom: 120px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title,
  &__colored {
    text-transform: uppercase;
  }

  &__title {

    & > .display-2 {
      font-size: 46px; // 48 было

      @media (min-width: $screen-md) {
        font-size: 56px;
      }

      @media (min-width: $screen-xl) {
        font-size: 64px;
      }
    }
  }

  &__colored {
    display: block;
    color: $secondary-color;

    @media (max-width: $screen-md - 1) {
      font-size: 20px; // 32 было
      text-transform: initial;
      line-height: 1.5;
    }

    @media (min-width: $screen-md) {
      font-size: 32px; // 48
    }
  }

  &__hero {
    margin-bottom: 40px;
    border-radius: $border-radius--16;

    @media (min-width: $screen-xl) {
      margin-bottom: 60px;
    }
  }

  &__content-col {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(xl, 8);
  }

  &__sidebar-col {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(xl, 4);
    margin-bottom: 80px;

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      order: 1;
    }
  }

  &__content {

    iframe {
      width: 100%;
      border: none;
    }
  }

  &__sidebar {

    @media (min-width: $screen-xl) {
      position: sticky;
      top: 1em;
    }

    & > * + * {
      margin-top: 40px;
    }
  }
}
