.contacts {
  margin-bottom: 80px;

  @media (min-width: $screen-md) {
    margin-bottom: 120px;
  }

  $block-name:                &; // #{$block-name}__element

  &__inner {
    margin-bottom: 80px;

    @media (min-width: $screen-md) {
      margin-bottom: 120px;
    }
  }

  &__info-col {
    @include col(xs, 12);
    @include col(xl, 5);

    @media (max-width: $screen-xl - 1) {
      margin-bottom: 40px;
    }
  }

  &__map-col {
    @include col(xs, 12);
    @include col(xl, 7);
  }

  &__form-wrapper {
    max-width: 708px;
  }

  &__title {
    margin-bottom: 40px;

    span {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
    }
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    padding-left: 36px;
    font-size: 14px;
    font-weight: 600;
    color: $text-muted;

    & > a,
    & > span {
      font-size: $font-size--lg;
      font-weight: 400;
      color: $text-color;
    }

    & > a {

      &:hover,
      &:focus {
        color: $link-color--hover;
      }
    }

    & + & {
      margin-top: 24px;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
    }

    &--mail {

      &::after {
        background-image: svg-load('../blocks/sprite-svg/svg/chat.svg', fill=$main-color);
      }
    }

    &--tel {

      &::after {
        background-image: svg-load('../blocks/sprite-svg/svg/iphone.svg', fill=$main-color);
      }
    }

    &--address {

      &::after {
        background-image: svg-load('../blocks/sprite-svg/svg/pin.svg', fill=$main-color);
      }
    }
  }

  &__map {
    background-color: $gray-400;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $shadow;

    iframe {
      display: block;
      width: 100%;
      height: 300px;

      @media (min-width: $screen-md) {
        height: 412px;
      }
    }
  }

  &__recaptcha {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
}
