.close {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  color: inherit;
  background-color: $white;
  border: none;
  user-select: none;
  cursor: pointer;
  transition: color $transition-time;

  &:hover,
  &:focus {
    color: $link-color;
  }

  svg {
    fill: currentColor;
  }
}
