.copyrights {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: $font-size-sm;
  text-align: center;
  background-color: rgba($white, 0.05);

  @media (min-width: $screen-md) {
    text-align: initial;
  }

  $block-name:                &; // #{$block-name}__element



  &__owner-col {
    @include col(xs, 12);
    @include col(md, 8);
    margin-bottom: 12px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__dev-col {
    @include col(xs, 12);
    @include col(md, 4);
  }

  &__owner {

    span {
      display: inline-block;
      vertical-align: baseline;
      margin-bottom: 12px;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }
  }

  &__help-link,
  &__dev {
    white-space: nowrap;
  }

  &__dev {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-md) {
      justify-content: flex-end;
    }

    svg {
      margin: 0 8px;
      fill: $link-color;
    }
  }
}
